<h1>Welcome to My Blog</h1>

I hope you enjoy reading my blog.

{{#each model as |post|}}
  <h2>{{post.title}}</h2>
  <p>{{post.content}}</p>
{{/each}}

{{#link-to 'about'}}About{{/link-to}} |
{{#link-to 'contact'}}Click here to contact us.{{/link-to}} |
{{#link-to 'admin'}}Admin{{/link-to}}
